/* The styling following are various style features for the webpage */
body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
  }
  header, footer {
    display: flex;
    flex-direction: row;
  }
  header .profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 4px;
  }
  header .profile-name {
    display: flex;
    flex-direction: column;

    margin-left: 10px;
  }
  header .follow-button {
    display: flex;
    margin: 0 0 0 auto;
  }
  header .follow-button button {
    border: 0;
    border-radius: 3px;
    padding: 5px;
  }
  header h3, header h4 {
    display: flex;
    margin: 0;
  }
  #inner p {
    margin-bottom: 10px;
    font-size: 20px;
  }
  #inner hr {
    margin: 20px 0;
    border-style: solid;
    opacity: 0.1;
  }
  footer .tweetstats {
    display: flex;
    font-size: 15px;
  }
  footer .tweetstats strong {
    font-size: 18px;
  }
  footer .tweetstats .likes {
    margin-left: 10px;
  }
  footer .followerresponse {
    margin-left: auto;
    color: gray;
  }
  footer .followerresponse button {
    border: 0;
    background: transparent;
  }

.center{
    padding: 5px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.movementImage{
    padding: 5px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 400px;
    width: auto;
}

#MainSection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#container {
    display: flex;
    flex-direction: column;
    flex: 1;
    
}

#item{
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

button{
    background-color: black;
    border: 2px solid black;
    border-radius: 5px;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.centered-contact{ /* used to center the form page information */
    padding: 5px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Form page CSS */
input[type=text],textarea {
  width: 100%; 
  padding: 12px;  
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
}

input[type=url] {
  width: 100%; 
  padding: 12px;  
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
}



/* assigning a color to the submit button to make it more appealing */
input[type=submit] {
  background-color: blue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #1bb8e7;
}

